.name {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 15px;
    padding: 20px;
    background-color: teal;
    font-weight: bolder;
    margin-left: 220px;
}
.side {
    padding-right: 350px;
}
.a {
    float: bottom;
    color: teal;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-right: 15px;
    padding: 20px;
    position: absolute;
    border:grey

}
.container{
    padding: 60px;
    padding-top: 50px;
    margin: auto;
}
.contacts {
    background: white;
    clear:both;
    box-sizing: border-box;
    height: 400px;
    width: 740px;
    margin:170px;
    padding-bottom: 3px;
    margin-right: 30px;
    margin-top: 40px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray; 
   text-align: center;
   border-top-style: solid; 
   border-top-color: teal;
   font-size: smaller;
   border-block-start-width: 5px;
 }
.form-group2 {
    margin-left: auto;
}
.btn-primary {
    color: #fff;
    background-color: teal;
    border-color: teal;}

.thumbnail {
    margin-left: 60px;
}
.page {
    padding-left: 5px;
}
img {
    float:left;
    width: 5px;
}
